@import "/css/colors.css";

@keyframes spin {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End at 360 degrees (one full turn) */
  }
}

.loadingScreen {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: --secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 2s linear infinite;
}