:root {
    --dark-color: #01161e;
    --primary-color: #124559;
    --secondary-color: #598392;
    --green-color: #aec3b0;
    --text-color: #eff6e0;
}

html {
    background: linear-gradient(to bottom right, var(--dark-color) 25%, var(--primary-color), var(--secondary-color)) !important;
}

#loader {
    position: fixed;
    inset: 0;
    background-color:var(--dark-color); /* your dark background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loader-image {
    position: fixed;
    width: 30%;          /* control size here */
    height: auto;
    animation: spin 1.2s linear infinite;
    transform-origin: 50% 50%;
}

/* Rotation animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav {
    min-height: 15vh !important;
    color: var(--text-color) !important;
    position: sticky !important;
}

span {
    color: var(--text-color);
}

.navbar {
    background-color: var(--dark-color) !important;
}

.tabs > ul{
    background-color: var(--dark-color) !important;
}

#fullshot{
    width: 30%; 
    height: auto;
    border-radius: 3%;
    margin-left: 15%;
}
#fullshot-description{
    display: fixed;
}

#name-card {
    max-height: 500px;
    margin-left: 15px;
}

#FSD-card {
    max-height: 500px;
    margin-left: 115px;
}

#NB-card {
    max-height: 500px;
    margin-left: 215px;
}

#contact-form {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1.5%;
    min-width: 100px;
}
