@import url("/css/colors.css");

#loader {
    position: fixed;
    inset: 0;
    background-color:var(--dark-color); /* your dark background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loader-image {
    position: fixed;
    width: 30%;          /* control size here */
    height: auto;
    animation: spin 1.2s linear infinite;
    transform-origin: 50% 50%;
}

/* Rotation animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navbar {
    max-height: 20vh;
}

#logo {
    margin-left: 3  vw;
}

#fullshot{
    width: 30%; 
    height: auto;
    border-radius: 3%;
    margin-left: 15%;
}
#fullshot-description{
    display: fixed;
}

#name-card {
    max-height: 500px;
    margin-left: 15px;
}

#FSD-card {
    max-height: 500px;
    margin-left: 115px;
}

#NB-card {
    max-height: 500px;
    margin-left: 215px;
}

#contact-form {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1.5%;
    min-width: 100px;
}
