:root {
    --dark-color: #01161e;
    --primary-color: #124559;
    --secondary-color: #598392;
    --green-color: #aec3b0;
    --text-color: #eff6e0;
}

html {
    background: linear-gradient(to bottom right, var(--dark-color) 25%, var(--primary-color), var(--secondary-color)) !important;
}

#loader {
    position: fixed;
    inset: 0;
    background: linear-gradient(to bottom right, var(--dark-color) 25%, var(--primary-color), var(--secondary-color)) !important; /* your dark background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loader-image {
    position: fixed;
    filter: brightness(0) invert(1);
    width: 23%;          /* control size here */
    height: auto;
    animation: spin 1.2s linear infinite;
    transform-origin: 50% 50%;
}

/* Rotation animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav {
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 3vh;
    min-height: 15vh !important;
    color: var(--text-color) !important;
    position: sticky !important;
}

#logo {
    filter: brightness(0) invert(1);
}

span {
    color: var(--text-color);
}

li > a{
    border-width: 1.5px !important;
    border-color: var(--text-color) !important;
}

#fullshot{
    width: 30%; 
    height: auto;
    border-radius: 3%;
    margin-left: 15%;
}
#fullshot-description{
    display: fixed;
    max-width: 30vw;
}

.carousel {
    background: transparent;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.carousel-track img {
    object-fit: contain;
    flex-shrink: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

#contact-form {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1.5%;
    min-width: 100px;
}

