{% extends "layout.html" %}

{% block body %}
    <!-- Intro -->
    <div>  
        <h1 class="title is-size-1">Hayden Warfield</h1>
        <p>Hi I'm Hayden a Professional Full-Stack Developer, NCAA Sports Broadcaster, and Siracha Enthusiast.</p>
    </div>

    <!-- Project Cards -->
    <div class="container">

        <!-- Titan Study Tables-->
        <div class="card">
            <div class="card-content">
                <h2 class="title is-size-2">Titan Study Tables</h2>
                <p>Titan Study Tables is Python Timesheet Application Developed for Illinois Wesleyan University Athletics Department. It uses a QRCODE embeded with a secret cdoe that generate that refreshes every 10 seconds</p>
            </div>
        </div>

        <!-- WoodLawn Chapel -->
        <div class="card">
            <div class="card-content">
                <h2 class="title is-size-2">Woodlawn Chapel</h2>
            </div>
        </div>
        
        <!-- Consulting - Dakar Academy Website-->
        <div class="card">
            <div class="card-content">
                <h2 class="title is-size-2">Dakar Academy Schools</h2>
            </div>
        </div>

    </div>
{% endblock %}
