<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hayden Warfield</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    {% block head %}
    {% endblock %}
  </head>

<body>
    
    <div class="loadingScreen">
        <h1>
            <img src="/static/HW_logo.png" alt="HW logo">
        </h1>
    </div>

    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/HW_logo.png" alt="HWLogo">
            </a>
        </div>

        <div class="navbar-start">
            
            <!--Programming Expierence-->
            <div class="navbar-item">
                Programming
            </div>

            <!--Broadcasting Expierence-->
            <div class="navbar-item">
                Broadcasting
            </div>

            <!--Fun Facts-->
            <div class="navbar-item">
                Fun Facts
            </div>

        </div>
    </nav>

    {% block body %}
    {% endblock %}

    <footer class="footer">
        <p><strong>Email:</strong>hwarfiel@iwu.edu</p>
        <p><strong>Phone:</strong>217-722-9846</p>
        <p><strong>Github:</strong><a href="url">Link text</a></p>
    </footer>
  </body>

</html>